BEGIN; ALTER TABLE usuarios_empresas ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS \
Usuarios
pueden
ver
sus
propias
vinculaciones\ ON usuarios_empresas; CREATE POLICY \Usuarios
pueden
ver
sus
propias
vinculaciones\ ON usuarios_empresas FOR SELECT USING (auth.uid() = user_id); ALTER TABLE empresas ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS \Usuarios
pueden
ver
empresas
a
las
que
pertenecen\ ON empresas; CREATE POLICY \Usuarios
pueden
ver
empresas
a
las
que
pertenecen\ ON empresas FOR SELECT USING (EXISTS (SELECT 1 FROM usuarios_empresas WHERE usuarios_empresas.empresa_id = empresas.id AND usuarios_empresas.user_id = auth.uid())); COMMIT;
